@{
	ViewBag.Title = "ComoFunciona";
	Layout = "~/Views/Shared/_BreadstrapOFFLayout.cshtml";
}


    <div class="index-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">
            Como encomendar?
        </h1>
        <a href="login.html">
            <button class="btn btn-lg btn-primary border-primary rounded-circle" type="button">
                1
            </button>
        </a>
        <p class="lead">
            Login
        </p>
        Aqui, como na maioria dos serviços de compras online terá primeiro que fazer login para poder adicionar compras ao carrinho. Use o <button class="btn btn-primary rounded-circle btn-sm">1</button> para ir para lá diretamente. <br>
        <a href="produtos.html"><button class="btn btn-lg btn-primary border-primary rounded-circle" type="button">2</button></a>
        <p class="lead">
            Escolher Produtos
        </p>
        Chegou o momento de escolher os produtos que deseja receber em casa nesta encomenda. Na página de produtos escolha quais quer e em que quantidades deseja receber esses produtos.
        <a href="cart.html">
            <button class="btn btn-lg border-primary rounded-circle" type="button">
                3
            </button>
        </a>

        <p class="lead">
            Terminar encomenda
        </p>
        Neste momento só tem de se dirigir ao seu carrinho e terminar a encomenda. Assim que o fizer, não se esqueça de efetuar o pagamento na sua conta para que a encomenda seja validada.


    </div>
    