@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BreadstrapOFFLayout.cshtml";
}

    <div class="index-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">
            Bem-Vindo
        </h1>
        <p class="lead">
            Somos a BreadSpread, o seu serviço de distribuição de pão
        </p>
        <img alt="" class="img-fluid img-thumbnail mb-4" src="~/images/bakery.jpg">
        <p>
            A BreadSpread consiste na entrega de pão e outros produtos de pastelaria ao domicílio, quando quiser, onde quiser. A recuperação do antigo método de entregas do padeiro aliado às novas tecnologias. Entregamos produtos de padaria e produtos de pastelaria. Atualmente a empresa faz a distribuição de pequenos-almoços ao domicílio, na zona da Universidade do Minho. A entrega de produtos ao domicílio é feita entre as 2h e as 7h de 2ª à 6ª feira e das 2h às 9h Sábados e Feriados.
        </p>
    </div>