
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0051)https://getbootstrap.com/docs/4.0/examples/sign-in/ -->
<html lang="pt">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/images/logo.png" rel="icon">
    <title>Login</title>

    <!-- Bootstrap core CSS
    <link href="./bootstrap_files/bootstrap.min.css" rel="stylesheet"> -->
    <!--using online bootstrap-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Content/signin.css" rel="stylesheet">
</head>
<body class="text-center" cz-shortcut-listen="true">
    <form _lpchecked="1" class="form-signin">
        <a href="/Home/Index"> <img alt="" class="mb-4" height="300" src="/images/logo.png" width="300"></a>
        <h1 class="h3 mb-3 font-weight-normal">
            Login
        </h1>
        <div class="form-group">
            <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" placeholder="bread@spread.pt" type="email">
            </input>
        </div>
        <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" placeholder="password" type="password">
            </input>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Login
        </button>
        <a class="btn btn-lg btn-primary btn-block" role="button" href="registar.html">
            Registar
        </a>
        <p class="mt-5 mb-3 text-muted">
            © LI4G20
        </p>
        </img>
    </form>
</body>
</html>

