USE [master]
GO
/****** Object:  Database [BreadSpread]    Script Date: 13/04/18 09:24:35 ******/
CREATE DATABASE [BreadSpread]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BreadSpread', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BreadSpread.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BreadSpread_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BreadSpread_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BreadSpread].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BreadSpread]
GO
USE [BreadSpread]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 13/04/18 09:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCli] [int] NOT NULL,
	[nome] [nchar](100) NOT NULL,
	[dataNasc] [date] NOT NULL,
	[NIF] [nchar](9) NOT NULL,
	[genero] [char](1) NOT NULL,
	[email] [nchar](30) NOT NULL,
	[idSub] [int] NULL,
	[rua] [nchar](100) NOT NULL,
	[numPorta] [int] NOT NULL,
	[codPostal] [nchar](10) NOT NULL,
	[cidade] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idCli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encomenda]    Script Date: 13/04/18 09:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encomenda](
	[idEnc] [int] NOT NULL,
	[idCli] [int] NOT NULL,
	[data] [date] NOT NULL,
	[valor] [float] NOT NULL,
	[status] [nchar](30) NOT NULL,
	[idFunc] [int] NOT NULL,
	[rua] [nchar](100) NOT NULL,
	[numPorta] [int] NOT NULL,
	[codPostal] [nchar](10) NOT NULL,
	[cidade] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Encomenda] PRIMARY KEY CLUSTERED 
(
	[idEnc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encomenda_Produto]    Script Date: 13/04/18 09:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encomenda_Produto](
	[idEnc] [int] NOT NULL,
	[idProd] [int] NOT NULL,
	[quant] [int] NOT NULL,
 CONSTRAINT [PK_Encomenda_Produto] PRIMARY KEY CLUSTERED 
(
	[idEnc] ASC,
	[idProd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 13/04/18 09:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[idFunc] [int] NOT NULL,
	[nome] [nchar](100) NOT NULL,
	[dataNasc] [date] NOT NULL,
	[contacto] [nchar](13) NOT NULL,
	[rua] [nchar](100) NOT NULL,
	[numPorta] [int] NOT NULL,
	[codPostal] [nchar](10) NOT NULL,
	[cidade] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[idFunc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamento]    Script Date: 13/04/18 09:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamento](
	[idPag] [int] NOT NULL,
	[data] [date] NOT NULL,
	[idCli] [int] NOT NULL,
	[idEnc] [int] NOT NULL,
	[modo_pag] [nchar](20) NOT NULL,
	[valor] [float] NOT NULL,
	[fatura] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Pagamento] PRIMARY KEY CLUSTERED 
(
	[idPag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 13/04/18 09:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[idProd] [int] NOT NULL,
	[descr] [nchar](50) NOT NULL,
	[ingredientes] [nchar](200) NOT NULL,
	[info_nut] [nchar](200) NOT NULL,
	[preco] [float] NOT NULL,
	[image] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Produto] PRIMARY KEY CLUSTERED 
(
	[idProd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscricao]    Script Date: 13/04/18 09:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscricao](
	[idSub] [int] NOT NULL,
	[designacao] [nchar](50) NOT NULL,
	[custo] [float] NOT NULL,
	[plano_ent] [nchar](200) NOT NULL,
 CONSTRAINT [PK_Subscricao] PRIMARY KEY CLUSTERED 
(
	[idSub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Subscricao] FOREIGN KEY([idSub])
REFERENCES [dbo].[Subscricao] ([idSub])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Subscricao]
GO
ALTER TABLE [dbo].[Encomenda]  WITH CHECK ADD  CONSTRAINT [FK_Encomenda_Cliente] FOREIGN KEY([idCli])
REFERENCES [dbo].[Cliente] ([idCli])
GO
ALTER TABLE [dbo].[Encomenda] CHECK CONSTRAINT [FK_Encomenda_Cliente]
GO
ALTER TABLE [dbo].[Encomenda]  WITH CHECK ADD  CONSTRAINT [FK_Encomenda_Funcionario] FOREIGN KEY([idFunc])
REFERENCES [dbo].[Funcionario] ([idFunc])
GO
ALTER TABLE [dbo].[Encomenda] CHECK CONSTRAINT [FK_Encomenda_Funcionario]
GO
ALTER TABLE [dbo].[Encomenda_Produto]  WITH CHECK ADD  CONSTRAINT [FK_Encomenda_Produto_Encomenda] FOREIGN KEY([idEnc])
REFERENCES [dbo].[Encomenda] ([idEnc])
GO
ALTER TABLE [dbo].[Encomenda_Produto] CHECK CONSTRAINT [FK_Encomenda_Produto_Encomenda]
GO
ALTER TABLE [dbo].[Encomenda_Produto]  WITH CHECK ADD  CONSTRAINT [FK_Encomenda_Produto_Produto] FOREIGN KEY([idProd])
REFERENCES [dbo].[Produto] ([idProd])
GO
ALTER TABLE [dbo].[Encomenda_Produto] CHECK CONSTRAINT [FK_Encomenda_Produto_Produto]
GO
ALTER TABLE [dbo].[Pagamento]  WITH CHECK ADD  CONSTRAINT [FK_Pagamento_Cliente] FOREIGN KEY([idCli])
REFERENCES [dbo].[Cliente] ([idCli])
GO
ALTER TABLE [dbo].[Pagamento] CHECK CONSTRAINT [FK_Pagamento_Cliente]
GO
ALTER TABLE [dbo].[Pagamento]  WITH CHECK ADD  CONSTRAINT [FK_Pagamento_Encomenda] FOREIGN KEY([idEnc])
REFERENCES [dbo].[Encomenda] ([idEnc])
GO
ALTER TABLE [dbo].[Pagamento] CHECK CONSTRAINT [FK_Pagamento_Encomenda]
GO
USE [master]
GO
