.DS_Store
*.bak_000f
*.bak_001d
*.bak_003d
*.bak_004d
*.bak_006d
*.bak_008d
*.bak_009d
*.bak_007d
*.bak_010d
*.bak_012d
*.bak_011d
*.bak_013d
*.bak_005d
*.bak_014d
*.bak_015d
*.bak_016d
*.bak_017d
*.bak_018d
*.bak_002d
*.bak_021d
*.bak_020d
*.bak_022d
*.bak_019d
*.bak_023d
*.bak_024d
*.bak_025d
Fase3/BreadSpread/.vs
