@model BreadSpread.Models.Encomenda

@{
	ViewBag.Title = "Entrega";
	if (!User.Identity.IsAuthenticated)
	{
		Layout = "~/Views/Shared/_BreadstrapOFFLayout.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_BreadstrapONLayout.cshtml";
	}
}

    </div>
    <!-- NAVBAR END -->
<div class="form-group col-md-7">
    @using (Html.BeginForm("AdicionaEnc", "Subscricao", FormMethod.Post))
    {
        <div class="form-group col-md-7">
            <!--dar review ao calendar-->
            <div class="date" id="datepicker">
                @Html.TextBoxFor(model => model.dataEnt, new { @class = "form-control", name = "date" })
                @Html.ValidationMessageFor(model => model.dataEnt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="input-group mb-3">
                <div class="input-group col-8">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Selecione a hora">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" name="hora" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                        <div class="dropdown-menu">
                            @Html.DropDownListFor(Model => Model.dataEnt,Enumerable.Range(07, 21).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),"-- Hour --")
                        </div>
                    </div>
                </div>
                <div class="input-group col-4">
                    <input type="text" name="quantidade" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="submit">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</body>
</html>
