@model BreadSpread.Models.Encomenda

@{
	ViewBag.Title = "Entrega";
	if (!User.Identity.IsAuthenticated)
	{
		Layout = "~/Views/Shared/_BreadstrapOFFLayout.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_BreadstrapONLayout.cshtml";
	}
}

    <!-- NAVBAR END -->
    <div class="index-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">
            Confirmação dos dados de entrega
        </h1>
        <p class="lead">
            Por favor selecione a data e hora que pretende receber a encomenda.
        </p>
    </div>
    <div class="form-group col-md-7">
        @using (Html.BeginForm("AdicionaEnc", "Subscricao", FormMethod.Post))
    {
        <div class="form-group col-md-7">
            <!--dar review ao calendar-->
            <div class="date" name="data">
                @Html.TextBox("data", "DD/MM/YYYY")
                @Html.ValidationMessageFor(model => model.dataEnt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="input-group mb-3">
                <div class="input-group col-8">

                    <select class="custom-select" id="entrega1" name="hora">
                        <option selected>Hora...</option>
                        @foreach (var item in Enumerable.Range(7, 14))
                        {
                        <option>@Html.DisplayFor(modelItem => item):00</option>
                        }
                    </select>

                </div>
                <div class="input-group col-4">
                    <div class="input-group-append">
                        <input class="btn btn-outline-success" type="submit" value="Confirmar">
                    </div>
                </div>
            </div>
        </div>
}
    </div>