
@{
	ViewBag.Title = "Subscrição";
	if (!User.Identity.IsAuthenticated)
	{
		Layout = "~/Views/Shared/_BreadstrapOFFLayout.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_BreadstrapONLayout.cshtml";
	}
}

   </div>
    <!-- NAVBAR END -->

    <div class="container">
        <div class="col-xs-12 col-sm-12 col-xs-offset-0 topadd" style="padding-top: 60px;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Subscrever Prata</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Hora</td>
                                        <td>segunda</td>
                                        <td>terça</td>
                                        <td>quarta</td>
                                        <td>quinta</td>
                                        <td>sexta</td>
                                    </tr>
                                    <tr>
                                        <td>07h00</td>
                                        <td>
                                            <button class="btn btn-success">Entrega 1</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-success">Entrega 3</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-seccondary">Entrega</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-success">Entrega 6</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-success">Entrega 8</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>19h00</td>
                                        <td>
                                            <button class="btn btn-success">Entrega 2</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-success">Entrega 4</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-success">Entrega 5</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-success">Entrega 7</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-seccondary">Entrega</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2>Entrega 1</h2>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Pão com Chouriço</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group col-8">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Produto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pão c/ chouriço</a>
                                            <a class="dropdown-item" href="#">Pão c/ cereais</a>
                                            <a class="dropdown-item" href="#">Pão de água</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group col-4">
                                    <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2>Entrega 2</h2>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group col-8">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Produto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pão c/ chouriço</a>
                                            <a class="dropdown-item" href="#">Pão c/ cereais</a>
                                            <a class="dropdown-item" href="#">Pão de água</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group col-4">
                                    <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2>Entrega 3</h2>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group col-8">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Produto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pão c/ chouriço</a>
                                            <a class="dropdown-item" href="#">Pão c/ cereais</a>
                                            <a class="dropdown-item" href="#">Pão de água</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group col-4">
                                    <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2>Entrega 4</h2>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group col-8">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Produto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pão c/ chouriço</a>
                                            <a class="dropdown-item" href="#">Pão c/ cereais</a>
                                            <a class="dropdown-item" href="#">Pão de água</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group col-4">
                                    <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2>Entrega 5</h2>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group col-8">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Produto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pão c/ chouriço</a>
                                            <a class="dropdown-item" href="#">Pão c/ cereais</a>
                                            <a class="dropdown-item" href="#">Pão de água</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group col-4">
                                    <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2>Entrega 6</h2>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group col-8">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Produto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pão c/ chouriço</a>
                                            <a class="dropdown-item" href="#">Pão c/ cereais</a>
                                            <a class="dropdown-item" href="#">Pão de água</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group col-4">
                                    <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2>Entrega 7</h2>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group col-8">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Produto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pão c/ chouriço</a>
                                            <a class="dropdown-item" href="#">Pão c/ cereais</a>
                                            <a class="dropdown-item" href="#">Pão de água</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group col-4">
                                    <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2>Entrega 8</h2>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group col-8">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Produto">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lista</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pão c/ chouriço</a>
                                            <a class="dropdown-item" href="#">Pão c/ cereais</a>
                                            <a class="dropdown-item" href="#">Pão de água</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group col-4">
                                    <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" aria-describedby="product-addon">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="button">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <button class="btn btn-lg btn-success btn-block" type="submit">
                                Confirmar Pedido
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-lg btn-danger btn-block" type="submit">
                                Cancelar Pedido
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>

