
@{
    ViewBag.Title = "Subscriptions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Subscrições</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista de subscrições 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Tipo de Subscrição</th>
                                        <th>Data de Assinatura</th>
                                        <th>Morada</th>
                                        <th>Quantidade de entregas semanais</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Castelhano Videira</td>
                                        <td>Bronze</td>
                                        <td>março 2018</td>
                                        <td>Braga</td>
                                        <td>4</td>
                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>Serra Vieira</td>
                                        <td>Bronze</td>
                                        <td>março 2018</td>
                                        <td>Braga</td>
                                        <td>4</td>
                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>Edgar Sousa</td>
                                        <td>Bronze</td>
                                        <td>março 2018</td>
                                        <td>Braga</td>
                                        <td>4</td>
                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>Evaristo Silva</td>
                                        <td>Bronze</td>
                                        <td>março 2018</td>
                                        <td>Braga</td>
                                        <td>4</td>
                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>Gabriel Pereira</td>
                                        <td>Prata</td>
                                        <td>março 2018</td>
                                        <td>Braga</td>
                                        <td>10</td>
                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>Francisco Costa</td>
                                        <td>Prata</td>
                                        <td>março 2018</td>
                                        <td>Braga</td>
                                        <td>8</td>
                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>André Teixeira</td>
                                        <td>Prata</td>
                                        <td>março 2018</td>
                                        <td>Braga</td>
                                        <td>7</td>
                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>Luis Silva</td>
                                        <td>Ouro</td>
                                        <td>março 2018</td>
                                        <td>Braga</td>
                                        <td>6</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bronze
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Entregas Semanais</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Castelhano Videira</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Edgar Sousa</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Evaristo Silva</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Serra Vieira</td>
                                            <td>4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Prata
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Entregas Semanais</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>André Teixeira</td>
                                            <td>7</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Francisco Costa</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Gabriel Pereira</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ouro
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Entregas Semanais</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Luis Silva</td>
                                            <td>6</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    