
@{
	if (!User.Identity.IsAuthenticated)
	{
		Layout = "~/Views/Shared/_BreadstrapOFFLayout.cshtml";
	}
	else
	{
		Layout = "~/Views/Shared/_BreadstrapONLayout.cshtml";
	}
}

    <div class="container pt-5">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Produto</th>
                    <th style="width:10%">Preço</th>
                    <th style="width:8%">Quantidade</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"></div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">Pão c/ chouriço</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">1.41€</td>
                    <td data-th="Quantity">
                        <input type="number" class="form-control text-center" value="2">
                    </td>
                    <td data-th="Subtotal" class="text-center">2.82</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"></div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">Bola de centeio</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">0.42€</td>
                    <td data-th="Quantity">
                        <input type="number" class="form-control text-center" value="1">
                    </td>
                    <td data-th="Subtotal" class="text-center">0.42</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><button class="btn btn-warning" type="button"><i class="fa fa-angle-left"></i> Continuar compras</button></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total 3.24€</strong></td>
                    <td><button class="btn btn-lg btn-block btn-primary" type="button">Finalizar <i class="fa fa-angle-right"></i></button></td>
                </tr>
            </tfoot>
        </table>
    </div>